:root {
    font-family: 'Inter', ui-sans-serif;
    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p)* var(--font-scale));
    --h4: calc(var(--h5)* var(--font-scale));
    --h3: calc(var(--h4)* var(--font-scale));
    --h2: calc(var(--h3)* var(--font-scale));
    --h1: calc(var(--h2)* var(--font-scale));

    --static: rgba(225, 225, 225, 0.5);
    --static4: rgba(225, 225, 225, 0.2);
    --static3: rgb(255, 255, 255);
    --static2: #0f0f0f;
    --static5: rgb(24, 172, 122);
    --static6: rgba(0, 0, 0, 0.05);
    --static7: rgba(0, 0, 0, 0.1);
    --static8: rgba(0, 0, 0, 0.05);
    --static9: rgba(0, 0, 0, 0.3);
    --static10: rgba(225, 225, 225);
    --static11: rgba(0, 0, 0, 0.03);
    --static12: rgba(255, 255, 255, 0.8);
    --static13: rgb(235, 235, 235);
    --static14: rgba(0, 0, 0, 0.2);
    --static15: rgba(255, 255, 255, 0.5);

    --text: #040316;
    --text-on-accent: #fff;
    --bg: #fbfbfe;
    --surface: #f3f3f6;
    --surface-hover: rgba(0, 0, 0, 0.03);
    --primary: #3861fb;
    --secondary: #dedcff;
    --secondary30: hsl(225, 100%, 92%, 30%);
    --accent: #000000;
    --accent-1: #FFC107;
    --accent-2: #FF5722;
    --accent-3: #8BC34A;
    --accent-4: #ffb8b8;
    --accent-5: #FAE7E7;
    --accent-6: #E7FAE8;
    --accent-7: #E7F6FC;
    --s0: #B71C1C;
    /* Score 9.01 > 10.00 (Extreme Risk)*/
    --s25: #E64A19;
    /* Score 8.01 > 9.00  (Very High Risk)*/
    --s50: #FFA000;
    /* Score 7.01 > 8.00  (High Risk)*/
    --s75: #ffe65b;
    /* Score 3.01 > 6.00  (Low Risk)*/
    --s99: #00be25;
    /* Score 0.00 > 3.00  (No Risk)*/
    --gradient: linear-gradient(160deg,#3861fb,#000000);

    --small: calc(var(--p) / var(--font-scale));
    --margin-lg: 0 12%;
    --margin-md: 0 6%;
    --margin-sm: 0 3%;
    --border1: 1rem;
    --border05: 0.5rem;
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-bolder: 900;

    --font-size-base: 14px;
    --font-size-sm: 12px;
    --font-size-lg: 16px;

    --spacer-xs: 4px;
    --spacer-sm: 8px;
    --spacer-md: 16px;
    --spacer-lg: 24px;
    --spacer-xl: 32px;

    --line-height-base: 1.5;
    --line-height-sm: 1.4;
    --line-height-lg: 1.6;

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --border-radius-xl: 24px;

    --border-width-sm: 1px;
    --border-width-md: 2px;
    --border-width-lg: 4px;

    --border-color-light: #E0E0E0;
    --border-color-dark: #424242;

    --shadow-sm: 0px 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0px 8px 16px rgba(0, 0, 0, 0.1);

    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;

    --opacity-normal: 1;
    --opacity-active: 0.7;
    --opacity-disabled: 0.5;
}

* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
    font-family: 'Inter', ui-sans-serif;
}

body {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0 12%;
    width: auto !important;
    font-family: 'Inter', ui-sans-serif;
    color: var(--text);
    background-color: var(--bg);
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    line-height: 1.75;
    max-width: 1280px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 4.210rem;
    /* 67.36px */
}

h2 {
    font-size: 3.158rem;
    /* 50.56px */
}

h3 {
    font-size: 2.369rem;
    /* 37.92px */
}

h4 {
    font-size: 1.777rem;
    /* 28.48px */
}

h5 {
    font-size: 1.333rem;
    /* 21.28px */
}

small {
    font-size: 0.750rem;
    /* 12px */
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

p, small, a, li, table {
    line-height: 2.25;
    margin: 0;
}

p {
    font-size: var(--p);
    letter-spacing: normal;
    text-align: left;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 12%;
    align-items: center;
    position: fixed;
    z-index: 9997;
    border-bottom: 1px solid var(--static7);
    background-color: var(--bg);
}

.sitename {
    font-size: var(--h5);
    font-weight: var(--font-weight-bolder);
    margin: 0;
}

.navbar .menu {
    font-size: var(--p);
    font-weight: var(--font-weight-bold);
    
}

.menu-item {
    font-size: var(--p);
    width: 100%;
    white-space: nowrap;
    margin: 0 1rem;
    padding: 5px 0px;
    transition: opacity 0.3s ease;
    position: relative;
}

.menu-item:after {
    content: "";
    width: 0;
    transition: all .2s;
    position: absolute;
    border-bottom: 3px solid var(--primary);
    left: 0;
    bottom: 0;
}

.menu-item:hover:after {
    width: 100%;
}

.menu-icon {
    margin: 0 0.5rem;
    position: relative;
    top: 8px;
}

.menu-icon:hover{
    opacity: .5;
}

.quick-stats {
    display: flex; /* Đặt flex để hiển thị các stats-box ngang hàng */
    gap: 16px; /* Khoảng cách giữa các box */
    width: 100%;
    position: relative;
}

.quick-stats-title {
    margin: 3rem 0 1rem 0;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
}

.quick-stats-title p {
    color: #58667e;
    font-size: var(--font-size-base);
}

.quick-stats .stats-box {
    text-align: left;
    width: 100%;
    max-height: 269px; /* Thiết lập chiều cao tối đa */
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 400;
    padding: 12px 0;
    box-shadow: 0 4px 24px 0 rgba(88, 102, 126, .08), 0 1px 2px 0 rgba(88, 102, 126, .12);
}

.stats-box a:hover,
.logo:hover,
.content-tab a:hover {
    opacity: .7;
}


.box-title,
.fixture-league span {
    padding: 0 1rem;
    font-weight: var(--font-weight-bold);
    font-size: var(--p);
    margin-bottom: 6px;
    gap: 4px;
}

.box-content {
    padding: .3rem 1rem;
    width: 100%;
}

.ticket-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin: 6px 0;
}

.ticket-row p {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.ticket-row .img-custom-class-1 {
    margin: 0 6px;
}

.img-custom-class-1 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

p.ticket-count {
    position: absolute;
    top: 0;
    right: 0;

}

.tick-chart {
    border-bottom: 4px solid var(--accent-2);
    border-radius: var(--border-radius-md);
}

.action-btn {
    border-radius: var(--border-radius-md);
    padding: .33em 1.33em;
    background: var(--primary);
    color: var(--text-on-accent);
    border: none;
    height: 32px;
    font-weight: 600;
    box-shadow: var(--shadow-sm);
    cursor: pointer;
}

.secondary-btn {
    border-radius: var(--border-radius-md);
    padding: .33em 1.33em;
    background: #3861fb1a;
    color: var(--text);
    border: none;
    height: 32px;
    font-weight: 600;
    box-shadow: var(--shadow-sm);
}

button:hover {
    opacity: .8;
}

.stats-box:hover {
    background-color: var(--);
}

.mt-12 {
    margin-top: 12px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-1-rem {
    margin-top: 1rem;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mr-12 {
    margin-right: 12px;
}

.mr-8 {
    margin-right: 8px;
}

.ml-12 {
    margin-left: 12px;
}

.ml-8 {
    margin-left: 8px;
}

.content-2-block {
    width: 100%;
    gap: 1em;
}

.content-2-block .content-block-1 {
    flex-basis: 70%;
}

.content-2-block .content-block-2 {
    flex-basis: 34%;
}

.content-tab {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 4px 24px 0 rgba(88, 102, 126, .08), 0 1px 2px 0 rgba(88, 102, 126, .12);
    border-radius: var(--border-radius-md);
}

.iuFFJS {
    -webkit-box-align: center;
    align-items: center;
    background: transparent;
    border: 0px;
    border-radius: 8px;
    display: inline-flex;
    color: grey;
    -webkit-box-pack: center;
    justify-content: center;
    outline: 0px;
    font-weight: 600;
    width: auto;
    height: 32px;
    font-size: var(--font-size-base);
    padding: 0px 16px;
    line-height: 18px;
}

.iuFFJS.injured-button.active {
    padding: 0px 12px;
    white-space: nowrap !important;
    margin-right: 4px !important;
    background-color: var(--accent-5);
    color: var(--s0);
}

.iuFFJS.returning-button.active {
    padding: 0px 12px;
    white-space: nowrap !important;
    margin-right: 4px !important;
    background-color: var(--secondary30);
    color: var(--primary);
}

.filter-tab {
    border-bottom: 1px solid var(--static7);
    padding-bottom: 0.5rem;
}

.filter-tab .iuFFJS.returning-button:hover:not(:disabled) {
    background: var(--secondary30);
}

.filter-tab .iuFFJS.injured-button:hover:not(:disabled) {
    background: var(--accent-5);
}

.border-radius {
    border-radius: var(--border-radius-md);
}

.accent-5 {
    background-color: var(--accent-5);
}

.secondary-30 {
    background-color: var(--secondary30);
}

.pd-1 {
    padding: 1rem 1rem;
}

.content-main-1 table,
.content-main-2 table{
    width: 100%;
    font-size: var(--font-size-base);
    /* border-spacing: 2px 16px; */
    border-collapse: collapse;
}

.content-main-1 table thead th,
.content-main-2 table thead th {
    color: var(--static2);
}

.content-main-1 table td,
.content-main-2 table td {
    border-bottom: 1px solid var(--static7);
    padding: 6px 2px;
}

.content-main-1 th, td,
.content-main-2 th {
    text-align: left;
}

.content-main-1 tbody tr:hover,
.content-main-2 tbody tr:hover {
    background-color: var(--static7);
}

.d-none {
    display: none!important;
}

.flex-column {
    flex-direction: column;
}

.player-info {
    line-height: 1.3;
}

.player-info .player-name {
    width: 100px;
}

.t-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.player-position,
.team-code,
.from-date,
.to-date {
    color: grey;
    font-size: var(--font-size-sm);
}

.from-date,
.to-date {
    color: var(--text);
}

.player-info-link:hover,
.team-info-link:hover {
    text-decoration: underline;
    opacity: .8;
}

.width-150 {
    width: 150px;
}

.width-100 {
    width: 100px;
}

.width-80 {
    width: 80px;
}

.team-info:hover .team-name{
    display: block;
}

.team-info .team-name {
    position: absolute;
    width: 200px;
    line-height: 1.5;
    background: var(--accent);
    padding: 2px 8px;
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius-sm);
    left: 0;
    box-shadow: 0 4px 24px 0 rgba(88, 102, 126, .08), 0 1px 2px 0 rgba(88, 102, 126, .12);
    color: var(--text-on-accent);
    bottom: 50px;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.injury-type .injury-name {
    line-height: 1.5;
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius-sm);
    color: var(--text);
    width: 100%;
    font-weight: 500;
}

.relative {
    position: relative;
}

.is-injuried::before {
    content: "";
    background-image: url('/static/image/medic.png');
    background-size: contain;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -4px;
    left: 28px;
}

.is-returning::before {
    content: "";
    background-image: url('/static/image/verify.png');
    background-size: contain;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -4px;
    left: 28px;
}

.is-suspended::before {
    content: "";
    background-image: url('/static/image/redcard.png');
    background-size: contain;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -4px;
    left: 28px;
}

.risk-score {
    padding: 6px 8px;
    font-weight: 700;
    font-size: var(--font-size-lg);
    color: var(--text-on-accent);
}

.risk-score.s50,
.risk-score.s75 {
    color: var(--text);
}

.s0 {
    background-color: var(--s0);
}

.s25 {
    background: var(--s25);
}

.s50 {
    background-color: var(--s50);
}

.s75 {
    background-color: var(--s75);
}

.s99 {
    background-color: var(--s99);
}

.p-relative {
    position: relative;
}

.add-favorite {
    color: transparent;
}

.add-favorite path {
    stroke: grey;
}

.add-favorite.active {
    color: var(--primary);
}

.add-favorite.active path,
.add-favorite:hover path {
    stroke: var(--primary);
    transition: .2s;
}

.cursor-pointer {
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Khoảng cách giữa các phần tử */
    font-family: Arial, sans-serif;
}

/* Pagination buttons */
.pagination .page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff; /* Màu nền của nút */
    color: var(--text); /* Màu chữ */
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

/* Pagination buttons hover effect */
.pagination .page-link:hover {
    background-color: #c5c5c5;
    color: var(--text);
}

/* Page information (e.g., "1 of 23") */
.pagination .page-info {
    font-size: var(--font-size-sm);
    color: var(--text); /* Màu chữ */
}

.mt-1rem {
    margin-top: 1rem;
}

/* Container for filter */
.filter-container {
    position: relative;
    display: inline-block;
}

/* Button to open filter options */
.filter-button {
    padding: 10px 20px;
    border: none;
    font-weight: 600;
    border-radius: var(--border-radius-md);
}

/* Dropdown container */
.filter-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5px;
    width: 200px;
    z-index: 1;
}

/* Dropdown label and select styling */
.filter-dropdown label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #4b2c53;
}

.filter-dropdown select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* Style for team filter select when hidden */
.team-filter-label,
.team-filter {
    display: none;
}

.border-radius-md {
    border-radius: var(--border-radius-md);
}

.font-weight-bold {
    font-weight: var(--font-weight-bold);
}

.gap-1 {
    gap: 1rem;
}

.match--info,
.upcom-info {
    font-size: var(--font-size-sm);
    color: grey;
}

.fixture-match-container {
    padding: 0.5rem 0.5rem;
    border: 1px solid var(--static7);
    border-radius: var(--border-radius-md);
}

.match--home,
.match--away {
    font-size: var(--font-size-base);
}

.upcom-match:hover {
    opacity: 1!important;
    text-decoration: underline;
}

.fw-bold {
    font-weight: bold;
}

.fixture-match-container:not(:first-child) {
    margin-top: 8px;
}

@media (min-width: 992px) {
    .box--container, .mid--container {
        border-radius: var(--box-primary-radius);
        margin-bottom: 0px;
        border: var(--box-border);
    }
}

.match--info-filter-level-2, .match--info-filter-level-3 {
    gap: 8px;
    flex-wrap: wrap;
}

.match--info-filter-level-2 a, .match--info-filter-level-3 a {
    padding: 0 12px;
    height: 28px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--border-color-light);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    color: var(--text);
    text-transform: uppercase;
}

.match--info-filter-level-2 .selected {
    background-color: var(--primary);
    color: var(--text-on-accent);
}

.match--info-filter-level-2 a, .match--info-filter-level-3 a {
    padding: 0 12px;
    height: 28px;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--border-color-light);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    color: var(--text);
    text-transform: uppercase;
}

.statistic-standings-table__table {
    border-bottom: 1px solid var(--border-color-light);
    padding-bottom: 12px;
    width: 100%;
}

.statistic-standings-table__table th:first-child {
    padding-left: 10px;
    text-align: left;
}

.statistic-standings-table__table th {
    padding: 4px 12px;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}

.statistic-standings-table__table td {
    text-align: center;
}

.statistic-standings-table__table td:first-child,
.statistic-standings-table__table td:nth-child(2),
.statistic-standings-table__table th:nth-child(2) {
    text-align: left;
}

.statistic-standings-table__table td:nth-child(1),
.statistic-standings-table__table td:nth-child(2) {
    padding: 2px 8px;
    white-space: nowrap;
}

.standings-table-row {
    font-size: var(--font-size-sm);
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.standings-table-row__team__link {
    align-items: center;
    display: grid;
    grid-template-columns: 20px 1fr;
    text-align: left;
    grid-gap: 5px;
}

.table--note {
    row-gap: 8px;
    padding: 12px 0;
    font-size: var(--font-size-sm);
    color: grey;
    position: relative;
}

.table--legend {
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 16px;
    padding: 0;
    margin: 0;
}

.table--legend>li {
    gap: 0px;
    font-size: var(--font-size-sm);
    height: 26px;
    color: hsla(0, 0%, 8%, .4);
    font-weight: var(--font-weight-bold);
}

.css-up5znu-qualIcon {
    display: block;
    border-radius: 4px;
    height: 14px;
    margin-right: 10px;
    min-width: 14px;
    width: 14px;
}

footer {
    padding-top: 48px;
    width: 100%;
}

.footer--links {
    text-align: center;
}

.footer--copy {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold)!important;
    line-height: 24px;
    margin: 0 auto;
    padding-right: 12px;
    white-space: nowrap;
}

.footer--links a, .footer--links span {
    display: inline-block;
    font-size: var(--font-size-base);
    line-height: 24px;
    margin-right: 22px;
    white-space: nowrap;
}

.footer-link:hover {
    opacity: .7;
}

.footer--wrapper-bottom {
    border-top: 1px solid var(--border-color-light);
    padding: 4px;
    gap: 8px;
}

.big--sidebar-news .big--sidebar-image {
    width: 100%;
    height: 100%;
}

.big--sidebar-news>div {
    gap: 8px;
}

.sidebar--news:not(:last-of-type) {
    border-bottom: 1px solid hsla(0, 0%, 8%, .12);
}

.big--sidebar-news {
    height: 100%;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-rows: max-content max-content;
    row-gap: 16px;
}

.big--sidebar-image>img, .small--sidebar-image>img {
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--border-radius-md);
    width: 100%;
    height: 100%;
}

.d-flex-c {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.article--title {
    width: 100%;
    font-size: var(--font-size-base);
    line-height: 17px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    align-self: stretch;
    overflow: hidden;
    margin: 0px;
    font-weight: var(--font-weight-bold);
}

.article--source {
    font-size: var(--font-size-sm);
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.article--source-author {
    font-size: 14px;
    font-weight: var(--font-weight-bolder);
    color: #3861fb94;
}

.article--source-publish {
    color: grey;
}

.small--sidebar-news {
    height: 100%;
    display: grid;
    grid-template-columns: 72px 1fr;
    column-gap: 10px;
    padding: 16px 0;
}

.small--sidebar-news {
    height: 100px;
}

.small--sidebar-tittle {
    justify-content: space-around;
}

.injury-count {
    position: absolute;
    right: 0;
    padding: 0 12px;
    color: var(--s0);
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-sm);
    text-align: center;
    width: 32px;
}

.injury-count.no-injury {
    color: grey;
}

.upcom-title { 
    font-weight: var(--font-weight-bold);
    color: var(--s0);
}

.match--item-team-name {
    width: 160px;
    font-size: var(--font-size-base);
}

.mobile-menu {
    position: fixed;
    z-index: 19;
    bottom: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 0px -1px 11px -1px rgba(0, 0, 0, 0.15);;
    height: 72px;
    background: var(--bg);
    border-top: 1px solid var(--border-color-light);
    align-items: center;
    display: none;
}

.mobile-menu-wrapper {
    height: 72px;
    width: 100%;
    padding: 0 24px;
}

.mobile-menu-wrapper a {
    width: 75px;
    display: grid;
    justify-items: center;
    align-content: space-between;
    grid-gap: 2px;
    font-size: var(--font-size-sm);
    line-height: 24px;
}

.mobile-menu-item:hover {
    opacity: .7;
}

.modal {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 90%;
    max-height: 80vh;
    overflow: hidden;
  }
  
  /* Hiển thị modal khi kích hoạt */
  .modal.active {
    display: block;
  }
  
  /* Phần thân modal có thể cuộn */
  .modal-body {
    padding: 20px;
    max-height: 60vh;
    overflow-y: auto;
  }

  .modal-header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-top: 1px solid #ddd;
  }

  .input-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }

  .search-results {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background: #f9f9f9;
  }

  .close-btn {
    background: #e53e3e;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .close-btn:hover {
    background: #c53030;
  }

  /* Nền mờ khi mở modal */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  /* Hiển thị overlay khi modal mở */
  .overlay.active {
    display: block;
  }

  .contact-form-container {
    margin: 12px auto;
    background-color: white;
    padding: 1rem;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-sm);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: var(--font-size-sm);
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: var(--font-size-sm);
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius-sm);
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

button.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.submit-btn:hover {
    background-color: #45a049;
}

.contact-text {
    font-size: var(--font-size-sm);
    background: var(--static11);
    border-radius: var(--border-radius-md);
    padding: 12px;
    color: grey;
    font-weight: var(--font-weight-normal);
}