@media screen and (max-width: 1500px) {
    .navbar {
        padding: .5rem 7%;
    }
    
    body {
        margin: var(--margin-lg);
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        flex-wrap: wrap;
        padding: 10px 20px;
        top: 0;
        margin: 0 20px;
        z-index: 10000;
        gap: 3em;
    }
}