<!-- templates/fetch_data.html -->
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch Data</title>
</head>
<body>
    {% if request.user.is_superuser %}
    <h1>Fetch Data from API</h1>
    <form action="{% url 'fetch_and_save_leagues' %}" method="post">
        {% csrf_token %}
        <button type="submit">Fetch & Save Leagues</button>
    </form>
    <br>
    <form action="{% url 'fetch_and_save_standings' %}" method="post">
        {% csrf_token %}
        <button type="submit">Fetch & Save Standings</button>
    </form>
    <br>
    <form action="{% url 'fetch_and_save_teams' %}" method="post">
        {% csrf_token %}
        <button type="submit">Fetch & Save Teams</button>
    </form>
    <br>
    <form action="{% url 'fetch_and_save_teams_statistic' %}" method="post">
        {% csrf_token %}
        <button type="submit">Fetch & Save Team Statistics</button>
    </form>
    <br>
    <form action="{% url 'fetch_and_save_matches' %}" method="post">
        {% csrf_token %}
        <button type="submit">Fetch & Save Matches</button>
    </form>
    <br>
    <form action="{% url 'fetch_and_save_players' %}" method="post">
        {% csrf_token %}
        <button type="submit">Fetch & Save Players</button>
    </form>
    <br>
    <form action="{% url 'fetch_and_save_news' %}" method="post">
        {% csrf_token %}
        <button type="submit">Fetch & Save News</button>
    </form>
    <hr>
    <h1>CRAWLING</h1>
    <form action="{% url 'scrape_and_save_sidelined_players' %}" method="post">
        {% csrf_token %}
        <button type="submit">Scrape Lastest Sidelined from Soccerway</button>
    </form>
    <br>
    <form action="{% url 'scrape_and_save_transfers' %}" method="post">
        {% csrf_token %}
        <button type="submit">Scrape Transfer from Soccerway</button>
    </form>
    <hr>
    <h1>FUNCTION TO UPDATE</h1>
    <form action="{% url 'update_legend_colors' %}" method="post">
        {% csrf_token %}
        <button type="submit">Update Legend Color for League Standings</button>
    </form>

    {% else %}
    You not allowed to see this content
    {% endif %}
</body>
</html>